h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 30px;
    padding-top: 20px;
}

.highlight {
    color: crimson;
}

body {
font-family: 'Nanum Myeongjo', serif;
}

.first {
    display: flex;
   
}

.half {
    width: 50%;
    padding-left: 3%;
} 

.half-two {
    width: 70%;
    padding-left: 3%;
    padding-right: 6%;
    text-align: start;
    font-size: 20;
}

.food {
    width: 440px;
    margin-right: 8%;
}

.second {
    display: flex;
    font-size: 20;
    background-image: url(images/shapes/Frame\ 58.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
    
}



.link {
    text-decoration: none;
    background-image: linear-gradient(crimson, coral);
    padding: 15px 40px;
    color: white;
    border-radius: 30px;
    font-size: smaller;
    font-weight: 900;
   
}

.uno {
    padding-bottom: 80px;
    line-height: normal;
}

.duo {
    text-align: center;
    padding-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

.third {
    display: flex;
    margin: 5% 20% ;
    text-align: center;
    box-shadow: 3px 3px 12px darkgray;
    border-radius: 10px;
}

.trio-elm {
   padding: 50px;
}


