h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 30px;
    padding-top: 20px;
}

.highlight {
    color: crimson;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    margin-left: 0%;
}

.first {
    display: flex;
   
}

.half {
    width: 50%;
    padding-left: 3%;
} 

.half-two {
    width: 70%;
    padding-left: 3%;
    padding-right: 6%;
    text-align: start;
    font-size: 20;
}

.food {
    width: 440px;
   
}

.second {
    display: flex;
    font-size: 20;
    background-image: url(images/shapes/Frame\ 58.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
    
}



.link {
    text-decoration: none;
    background-image: linear-gradient(crimson, coral);
    padding: 15px 40px;
    color: white;
    border-radius: 30px;
    font-size: smaller;
    font-weight: 900;
   
}

.uno {
    padding-bottom: 80px;
    line-height: normal;
}

.duo {
    text-align: center;
    padding-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    color: gray;
    margin-bottom: 30px;
}

.third {
    display: flex;
    margin: 5% 20% ;
    text-align: center;
    box-shadow: 3px 3px 12px darkgray;
    border-radius: 10px;
    padding-left: 35px;
}

.trio-elm {
   padding: 50px;
}



.recipe-image img {
    width: 100%;
}
    
.title{
    text-align: center;
    
}


.fourth {
    display: flex;
    height: 500px;
    margin-bottom: 200px;
   
   
}

.recipe-elm {
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;
    width: 300px;
    margin-left: 5%;
    padding: 10px;
    margin-top: 18px;
    height: 550px;
}
 
.recipe-one {
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;
    width: 400px;
    margin-left: 15%;
    margin-right: 20%;
    padding: 10px;
    margin-top: 18px;
    height: 550px;
}

.recipe-two {
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;
    width: 300px;
    margin-left: 35%;
    margin-right: 5%;
    padding: 10px;
    margin-top: 18px;
    height: 550px;
}

    footer  {
        text-align: center;
        background-color: black;
        margin: 0%;
        padding-top: 10px;
        padding-bottom: 40px;
        
    }

    footer p {
        font-weight: 500;
        color: white;
    }

    footer h3 {
        color: gray;
    }
   

