h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 30px;
    padding-top: 20px;
}

.highlight {
    color: crimson;
}

body {
font-family: 'Nanum Myeongjo', serif;
}

.first {
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/shapes/Frame\ 58.jpg);
    imag
}

.half {
    width: 50%;
    padding-left: 3%;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(crimson, coral);
    padding: 15px 40px;
    color: white;
    border-radius: 30px;
    font-size: smaller;
    font-weight: 900;

}

.uno {
    padding-bottom: 20px;
    line-height: normal;
}